body{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

body,
li,
ol,
ul,
p,
h1,
h2,
h3,
h4,
h5,
h6,
div {
    margin: 0;
}

.header {
    padding: 15px 0;
}

.logo-header {
    height: 37px;
    width: 167px;
    transition: 0.4s;
}

.logo-header:hover{
    transform: scale(1.1);
}

ul,
ol {
    list-style: none;
}

ul,
h1,
h2,
p {
    padding: 0;
}

a,
p,
li,
h1,
h2 {
    text-decoration: none;
    color: #ffffff;
    font-family: "Arial";

}

.contact{
    z-index: 1;
    transition: 0.3s;
}

.contact:hover{
    transform: scale(1.1);
}

.contact > .phone{
    transition: 0.4s;
}

.contact:hover > .phone{
    transform: rotateZ(360deg);
}

.info {
    display: flex;
    align-items: center;
    min-height: 85vh;
}

.text-above-head {
    font-size: 16px;
    font-style: italic;
}

.text-under-head {
    font-size: 30px;
    padding: 0 0 25px;
}

.stars {
    padding: 32px 0 0;
}

.ul-header {
    display: flex;
    gap: 30px;
    background-color: #4c6488;
    padding: 12px 56px;
    border-radius: 20px;
    transition: 0.3S;
}

.ul-header li{
    transition: 0.25s;

}

.ul-header li:hover{
    color: white;
    transform: scale(1.20);

}

.btn {
    display: inline-block;
    font-size: 18px;
    text-transform: uppercase;
    color: #f4d633;
    font-weight: bold;
    border-color: #f4d633;
    border-radius: 35px;
    padding: 20px 25px;
    border: 3px solid #f4d633;
    transition: 0.3s;
}
.btn:hover{
    transform: scale(1.03);
    background-color: #f4d633;
    color: #1e3c6f;
}

.stars {
    display: flex;
    gap: 8px;
}


h1 {
    font-size: 48px;
    max-width: 687px;
    font-weight: 800;
    font-family: "Arial";
    text-transform: uppercase;
}

.wrapper {
    max-width: 1200px;
    width: 90%;
    margin: 0 auto;
}

.header-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.number a {
    display: flex;
    align-items: center;
    gap: 9px;
}

.main {
    padding: 0;
    position: relative;
}

.main-bl-main{
    z-index: 1;
}

.img-bl {
    position: absolute;
    bottom: -10px;
    right: 0;
}

.img-bl img {
    object-fit: cover;
}

.background-block {
    background: radial-gradient(circle at center, #34619d 0%, #34619d 1%, #1d3b6e 100%);
}

.footer {
    background-color: #f4d633;
    padding: 14px 0;
    z-index: 1;
}

.footer-elements {
    display: flex;
    justify-content: space-between;
    display: flex;
    align-items: center;
}

.logo-footer {
    height: 37px;
    width: 167px;
    transition: 0.3s;
}

.logo-footer:hover {
    transform: scale(1.03);
}

.footer p,
.footer a,
.footer {
    color: #1e3c6f;
    font-weight: bold;
}

.images {
    display: flex;
    gap: 10px;
    align-items: center;
}

.images li{
    transition: 0.3s;
}

.images li:hover{
    transform: scale(1.1);
    padding-bottom: 7px;
}

.sinse-2025 {
    font-size: 12px;
    text-align: right;
}

.schedule {
    display: flex;
    flex-direction: column;
    gap: 14px;
    font-size: 16px;
    line-height: 14px;
}