body {
    cursor: url(../cursors/cursor.cur), default;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

html {
    font-size: 0.60px;
}

a,
img {
    cursor: url(../cursors/cursor-ball.cur), default;
}

body,
li,
ol,
ul,
p,
h1,
h2,
h3,
h4,
h5,
h6,
div {
    margin: 0;
}

.header {
    padding: 15rem 0;
}

.logo-header {
    min-width: 100rem;
    max-width: 167rem;
    transition: 0.4s;
}

.logo-header:hover {
    transform: scale(1.1);
}

ul,
ol {
    list-style: none;
}

ul,
h1,
h2,
p {
    padding: 0;
}

a,
p,
li,
h1,
h2 {
    color: #ffffff;
    font-family: "Arial";
    text-decoration: none;

}

.contact {
    z-index: 1;
    transition: 0.3s;
}

.contact:hover {
    transform: scale(1.1);
}

.contact>.phone {
    transition: 0.4s;
}

.contact:hover>.phone {
    transform: rotateZ(360deg);
}

.info {
    display: flex;
    align-items: center;
    min-height: 55vh;
}
.info-bg{
    background-image: repeating-linear-gradient(135deg,rgba(0, 0, 0, 0.30) 5%, rgba(255, 255, 255, 0.10) 6%, rgba(0, 0, 0, 0.30)7%),
    repeating-linear-gradient(45deg,rgba(0, 0, 0, 0.30) 5%, rgba(255, 255, 255, 0.180) 6%, rgba(40, 40, 40, 0.50) 7%),
    repeating-linear-gradient(180deg,rgba(0, 0, 0, 0.30) 5%, rgba(255, 255, 255, 0.180) 6%, rgba(40, 40, 40, 0.50) 7%),
    repeating-linear-gradient(90deg,rgba(0, 0, 0, 0.30) 5%, rgba(255, 255, 255, 0.180) 6%, rgba(40, 40, 40, 0.50) 7%);
    filter: drop-shadow(10px 10px 20px black);
    padding: 20px 0;
    position: relative;
    z-index: 1;
    border-radius: 25px;
    border: 1px solid #000;
    max-height: 463px;
}

.text-above-head {
    font-size: 16rem;
    font-style: italic;
}

.text-under-head {
    font-size: 30rem;
    padding: 0 0 25rem;
}

.stars {
    padding: 32rem 0 0;
}

.stars p {
    font-size: 20rem;
    color: #ffffff;
    font-weight: bold;
}

.stars img {
    max-width: 100rem;
}

.ul-header {
    background-color: #4c6488;
    border-radius: 20rem;
    display: none;
    gap: 30rem;
    padding: 12rem 56rem;
    transition: 0.3S;
}

.burger {
    background-color: #4c6488;
    border-radius: 50%;
    display: block;
    padding: 10rem;
}

.ul-header li {
    transition: 0.25s;
    font-size: 14rem;
    line-height: 30rem;
    text-transform: uppercase;
}

.ul-header li:hover {
    color: white;
    transform: scale(1.20);

}

.btn {
    color: #f4d633;
    border: 3px solid #f4d633;
    border-color: #f4d633;
    border-radius: 35px;
    font-size: 18rem;
    display: inline-block;
    font-weight: bold;
    padding: 20rem 25rem;
    text-transform: uppercase;
    transition: 0.3s;
}

.btn:hover {
    color: #1e3c6f;
    background-color: #f4d633;
    transform: scale(1.03);
}

.stars {
    display: flex;
    gap: 8rem;
}


h1 {
    font-size: 48rem;
    max-width: 687rem;
    font-weight: 800;
    font-family: "Arial";
    text-transform: uppercase;
}

.wrapper {
    width: 90%;
    margin: 0 auto;
}

.header-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.number a {
    font-size: 16rem;
    display: flex;
    align-items: center;
    gap: 9rem;
}

.main {
    position: relative;
    padding: 0;
}

.main-bl-main {
    z-index: 1;
}

.img-bl {
    position: absolute;
    bottom: -10px;
    right: 0;
}

.img-bl img {
    object-fit: cover;
}

.background-block {
    background: radial-gradient(circle at center, #34619d 0%, #34619d 1%, #1d3b6e 100%);
}

.footer {
    background-color: #f4d633;
    padding: 14rem 0;
    z-index: 1;
}

.footer-elements {
    display: flex;
    align-items: center;
    gap: 10rem;
    justify-content: space-between;
}

.logo-footer {
    max-width: 167rem;
    transition: 0.3s;
}

.logo-footer:hover {
    transform: scale(1.03);
}

.footer p,
.footer a,
.footer {
    color: #1e3c6f;
    font-weight: bold;
}

.images {
    display: flex;
    align-items: center;
    gap: 10rem;
}

.images li {
    transition: 0.3s;
}

.images li a {
    display: block;
    height: 100%;
}

.images li:hover {
    padding-bottom: 7rem;
    transform: scale(1.1);
}

.sinse-2025 {
    text-align: right;
    font-size: 12rem;
}

.schedule {
    font-size: 16rem;
    display: flex;
    flex-direction: column;
    gap: 14rem;
    line-height: 14rem;
}

img {
    width: 100%;
}

@media screen and (min-width:850px) {
    html {
        font-size: 1px;
    }
    .info-bg{
        background: none;
        border: none;
    }

    .info{
        min-height: 85vh;
    }
}

@media screen and (min-width:700px) {
    html {
        font-size: 0.75px;
    }
}

@media screen and (min-width:530px) {

    .ul-header {
        display: flex;
    }

    .burger {
        display: none;
    }
}