body,
li,
ol,
ul,
p,
h1,
h2,
h3,
h4,
h5,
h6,
div {
    margin: 0;
}

.header {
    padding: 15px 0;
}

.logo-header {
    height: 37px;
    width: 167px;
}

ul,
ol {
    list-style: none;
}

ul,
h1,
h2,
p {
    padding: 0;
}

a,
p,
li,
h1,
h2 {
    text-decoration: none;
    color: #ffffff;
    font-family: "Arial";

}

.info {
    display: flex; 
    align-items: center;
}

.text-above-head {
    font-size: 16px;
    font-style: italic;
}

.text-under-head {
    font-size: 30px;
    padding:0 0 25px;
}

.stars{
    padding: 32px 0 0;
}

.ul-header {
    display: flex;
    gap: 30px;
    background-color: #4c6488;
    padding: 17px 56px 14px;
    border-radius: 20px;
}

.btn {
    display: inline-block;
    font-size: 18px;
    text-transform: uppercase;
    color: #f4d633;
    font-weight: bold;
    border-color: #f4d633;
    border-radius: 35px;
    border-radius: 35px;
    padding: 20px 25px;
    border: 3px solid #f4d633;
}

.stars {
    display: flex;
    gap: 8px;
}


h1 {
    font-size: 48px;
    width: 687px;
    font-weight: 800;
    font-family: "Arial";
    text-transform: uppercase;
}

.wrapper {
    max-width: 1200px;
    width: 90%;
    margin: 0 auto;
}

.header-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.number a{
    display: flex;
    align-items: center;
    gap: 9px;
}

.main {
    padding: 15px 0;
    min-height: 85vh;
}

.background-block {
    max-height: 100vh;
    background-image: radial-gradient(circle at center, #34619d 0%, #34619d 1%, #1d3b6e 100%);
}

.footer {
    background-color: #f4d633;
    padding: 7px 0;
}

.footer-elements {
    display: flex;
    justify-content: space-between;
    display: flex;
    align-items: center;
}

.logo-footer {
    height: 37px;
    width: 167px;
}

.footer p,
.footer a,
.footer {
    color: #1e3c6f;
    font-weight: bold;
}

.images {
    display: flex;
    gap: 10px;
}

.sinse-2025 {
    font-size: 12px;
    text-align: right;
}

.schedule {
    display: flex;
    flex-direction: column;
    gap: 14px;
    font-size: 16px;
    line-height: 14px;
}